version: "3.9"

services:
  db:
    image: postgres:15
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_USER"]
      interval: 10s
      retries: 5

  web:
    build: .
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env.prod
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    expose:
      - 8000
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    depends_on:
      - web
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume: